:root {
    --rows: 10;
    --cols: 17;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-hero-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg, #006aff, #ff4545, #006aff) -100%/ 200%;
    animation: shimmer 2s linear infinite;
}

.about-hero-container .image-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    perspective: 1200px;
    overflow: hidden;
    z-index: 1;
}

.about-hero-container .image-grid::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(top bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5));
    position: absolute;
    z-index: 2;
}

.about-hero-container .grid-cell {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
}

.about-hero-container .grid-cell.flip {
    transform: rotateY(180deg);
}

.about-hero-container .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: calc(100% * var(--cols)) calc(100% * var(--rows));
    background-repeat: no-repeat;
}

.about-hero-container .front {
    transform: rotateY(0deg);
}

.about-hero-container .back {
    transform: rotateY(180deg);
}

.about-hero-container .content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
}

.about-hero-container .content-container h1 {
    font-size: 8rem;
}

.about-hero-container .content-container p {
    font-size: 18px;
    max-width: 60%;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.loading-text {
    place-self: center;
    background: linear-gradient(135deg, #006aff, #ff4545, #006aff) -100%/ 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    to {
        background-position: 100%;
    }
}

/* solution start */
.pr-solve-section,
.vision-mission-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pr-solve-section .pr-solve-title {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.pr-solve-section .solution-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 3rem;
}

.pr-solve-section .solution-grid .solution-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pr-solve-section .solution-grid .solution-card .solution-no {
    font-size: 16px;
    color: #0045e6;
    line-height: 24px;
    font-weight: 600;
}

.pr-solve-section .solution-grid .solution-card .solution-title {
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.pr-solve-section .solution-grid .solution-card .solution-text {
    color: #373737;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .about-hero-container .content-container h1 {
        font-size: 5rem;
    }

    .about-hero-container .content-container p {
        font-size: 16px;
        max-width: 70%;
    }

    .pr-solve-section,
    .vision-mission-section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .pr-solve-section .solution-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .about-hero-container .content-container h1 {
        font-size: 3rem;
    }

    .about-hero-container {
        height: calc(80vh - 70px);
    }

    .about-hero-container .content-container p {
        font-size: 16px;
        max-width: 90%;
    }

    .pr-solve-section,
    .vision-mission-section {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .pr-solve-section .pr-solve-title {
        font-size: 1.6rem;
        letter-spacing: 0;
    }

    .pr-solve-section .solution-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 1rem;
    }

    .pr-solve-section .solution-grid .solution-card {
        padding: 10px;
        gap: 6px;
    }
}

/* solution end  */

/* vision mission start */
.vision-mission-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.vision-mission-section .vision-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    background: linear-gradient(135deg, #1E1D28 0%, #2A2A3A 50%, #1E1D28 100%);
    padding: 2rem;
    color: white;
    border-radius: 10px;
}

.vision-mission-section .mission-card {
    flex-direction: row-reverse;
}

.vision-mission-section .vision-card .vision-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.vision-mission-section .vision-card .vision-content .icon {
    background-color: #C2D4FF;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-mission-section .vision-card .vision-content .icon svg {
    width: 40px;
    height: 50px;
}

.vision-mission-section .vision-card .vision-content .vision-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.vision-mission-section .vision-card .vision-content .vision-text {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
}

.vision-mission-section .vision-card .vision-img {
    width: 60%;
}

.vision-mission-section .vision-card .vision-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-quba-section .solution-grid .solution-card {
    border-left: 1px solid #c7c7d6;
}

@media screen and (max-width: 768px) {
    .vision-mission-section .vision-card {
        flex-direction: column;
        gap: 24px;
        padding: 1rem;
    }

    .vision-mission-section .mission-card {
        flex-direction: column;
    }

    .vision-mission-section .vision-card .vision-img,
    .vision-mission-section .vision-card .vision-content {
        width: 100%;
    }
}